body {
    background: linear-gradient(Red, Orange, Yellow, Green, Blue, Purple);
    text-align:
        center;
    color: white;
    font-size: 25;
}

#Welcome {
    top: 20px;
}

img {
    width: 300px;
    margin-top: 20px;
}
img:hover{
    transform: scale(1.2);
}

.menu {
    list-style: none;
    right: 30px;
    top: 10px;
    position: fixed;
    background-color: deeppink;
    font-size: 13 !important;
    position: fixed;
}

.links {
    float: left;
    padding: 10px;
}
.links:hover {
  transform: scale(1.2);
background-color: mediumpurple;
}
